{% load static %}
<div class="sidebar" id="sidebar">
    <div class="logo">
        <img src="{% static 'images/westpoint.png' %}" alt="WestPoint Logo" class="logo">
    </div>

    <div class="sidebar-content">
        <a href="{% url 'home' %}">
            <div class="menu-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}" data-section="home">
            <span class="text">
                <i class="bi bi-columns-gap"></i>
                Dashboard
            </span>
        </div>
        </a>
        <div class="menu-item" data-section="report">
            <span class="text">
                <i class="bi bi-pie-chart"></i>
                Report
            </span>
        </div>
        <a href="{% url 'manager_users_list' %}">
            <div class="menu-item {% if request.resolver_match.url_name == 'manager_users_list' %}active{% endif %}" data-section="manager_users_list">
                <span class="text">
                    <i class="bi bi-person-add"></i>
                    Users
                </span>
            </div>
        </a>
        <a href="{% url 'archived_doctors' %}">
            <div class="menu-item {% if request.resolver_match.url_name == 'archived_doctors' %}active{% endif %}" data-section="archived">
                <span class="text">
                    <i class="bi bi-archive"></i>
                    Archived Doctors
                </span>
            </div>
        </a>

        <a href="{% url 'deleted_records' %}">
            <div class="menu-item {% if request.resolver_match.url_name == 'deleted_records' %}active{% endif %}" data-section="deleted">
                <span class="text">
                    <i class="bi bi-trash"></i>
                    Deleted Records
                </span>
            </div>
        </a>
    </div>
</div>