{% extends 'components/base.html' %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.role == "patient" %}
        {% include 'components/sidebar/patient.html' %}
            <div class="main-content">
                <h2>Edit Patient Info</h2>

                <!-- TODO: Add Form Errors -->
                <form method="post">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="form-group">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                        </div>
                        <div class="form-group">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                        </div>
                    </div>
  
                    <div class="form-row">
                        <div class="form-group">
                            <div>
                                {{ form.gender.label_tag }}
                                {% for radio in form.gender %}
                                    <div class="form-check form-check-inline">
                                        {{ radio.tag }}
                                        <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.phone.label_tag }}
                        {{ form.phone }}
                    </div>
                            
                    <div class="form-row">                       
                        <div class="form-group">
                            {{ form.birthdate.label_tag }}
                            {{ form.birthdate }}
                        </div>
                        <div class="form-group">
                            {{ form.age.label_tag }}
                            {{ form.age }}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        {{ form.blood_type.label_tag }}
                        {{ form.blood_type }}
                    </div>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href="{% url 'medical_records' %}" class="btn btn-secondary" onclick="history.back(); return false;">Cancel</a>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
