:root {
    --primary: #214994;
    --primary-hover: #326edd;
    --secondary: #214994;

    --gradient-primary: linear-gradient(
        135deg,
        #214994,
        #326edd,
        #a9b2ff
    );

    --white: #ffffff;
    --black: #111111;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;


    --bg-body: #f3f5ff;
    --bg-card: #ffffff;
    --bg-muted: #f7f7f7;

    --text-main: #111111;
    --text-muted: #6b7280;
    --text-light: #9ca3af;
    --text-inverse: #ffffff;

    --border-light: #e5e7eb;
    --border-focus: var(--primary);

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 18px;
    --radius-pill: 999px;

    --space-xs: 6px;
    --space-sm: 10px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;

    --shadow-sm: 0 2px 6px rgba(0,0,0,0.05);
    --shadow-md: 0 4px 18px rgba(0,0,0,0.08);
    --shadow-lg: 4px 4px 15px rgba(0,0,0,0.1);

    --font-main: 'Inter', system-ui, sans-serif;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.85rem;
    --font-size-md: 0.95rem;
    --font-size-lg: 1.2rem;
    --font-size-xl: 2rem;

    --transition-fast: 0.15s ease;
    --transition-normal: 0.25s ease;

    --success: #10b981;
    --success-hover: #059669;
    --success-light: #d1fae5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background: var(--bg-body);
    color: var(--text-main);
    min-height: 100vh;
}

/* ! No dark mode functionyet */
body.dark {
    --bg-body: #1d1f21;
    --bg-card: #2a2c2e;
    --bg-muted: #242628;

    --text-main: #eee;
    --text-muted: #bbb;

    --border-light: #444;
}