{% extends 'components/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.role == "staff" %}
            {% include 'components/sidebar/staff.html' %}
            <div class="main-content" id="mainContent">
                {% include 'components/dashboard/staff.html' %}
            </div>
        {% endif %}

        {% if user.role == "doctor" %}
            {% if not doctor_info %}
                <div class="alert alert-warning" role="alert" style="max-width: 600px; margin: 40px auto; padding: 20px; border: 1px solid #ffc107; border-radius: 8px; background-color: #fff3cd; color: #856404;">
                    <h4 class="alert-heading">Complete your Profile to proceed</h4>
                    <p>Your doctor profile is incomplete. Please 
                        <a href="{% url 'doctor_edit_info' %}"><u>complete your profile</u></a> 
                        to access all features.
                    </p>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            {% elif not doctor_info.is_approved %}
                <div class="alert alert-warning" role="alert" style="max-width: 600px; margin: 40px auto; padding: 20px; border: 1px solid #ffc107; border-radius: 8px; background-color: #fff3cd; color: #856404;">
                    <h3>Approval Pending</h3>
                    <p>Your profile is awaiting manager approval.</p>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            {% else %}
                {% include "components/sidebar/doctor.html" %}
                <div class="main-content" id="mainContent">
                    {% include 'components/dashboard/doctor.html' %}
                </div>
            {% endif %}
        {% endif %}

        {% if user.role == "patient" %}
            {% include 'components/sidebar/patient.html' %}
            <div class="main-content" id="mainContent">
                {% include 'components/dashboard/patient.html' %}
            </div>
        {% endif %}
    {% else %}
        {% include 'components/login.html' %}
    {% endif %}
{% endblock %}